@{
    ViewData["Title"] = "Tournament";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 1</span></h3>
    <div><span>Player 1</span> vs <span>Player 7</span></div>
    <div><span>Player 2</span> vs <span>Player 8</span></div>
    <div><span>Player 3</span> vs <span>Player 9</span></div>
    <div><span>Player 4</span> vs <span>Player 10</span></div>
    <div><span>Player 5</span> vs <span>Player 11</span></div>
    <div><span>Player 6</span> vs <span>Player 12</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 2</span></h3>
    <div><span>Player 1</span> vs <span>Player 2</span></div>
    <div><span>Player 3</span> vs <span>Player 7</span></div>
    <div><span>Player 4</span> vs <span>Player 8</span></div>
    <div><span>Player 5</span> vs <span>Player 9</span></div>
    <div><span>Player 6</span> vs <span>Player 10</span></div>
    <div><span>Player 12</span> vs <span>Player 11</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 3</span></h3>
    <div><span>Player 1</span> vs <span>Player 3</span></div>
    <div><span>Player 4</span> vs <span>Player 2</span></div>
    <div><span>Player 5</span> vs <span>Player 7</span></div>
    <div><span>Player 6</span> vs <span>Player 8</span></div>
    <div><span>Player 12</span> vs <span>Player 9</span></div>
    <div><span>Player 11</span> vs <span>Player 10</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 4</span></h3>
    <div><span>Player 1</span> vs <span>Player 4</span></div>
    <div><span>Player 5</span> vs <span>Player 3</span></div>
    <div><span>Player 6</span> vs <span>Player 2</span></div>
    <div><span>Player 12</span> vs <span>Player 7</span></div>
    <div><span>Player 11</span> vs <span>Player 8</span></div>
    <div><span>Player 10</span> vs <span>Player 9</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 5</span></h3>
    <div><span>Player 1</span> vs <span>Player 5</span></div>
    <div><span>Player 6</span> vs <span>Player 4</span></div>
    <div><span>Player 12</span> vs <span>Player 3</span></div>
    <div><span>Player 11</span> vs <span>Player 2</span></div>
    <div><span>Player 10</span> vs <span>Player 7</span></div>
    <div><span>Player 9</span> vs <span>Player 8</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 6</span></h3>
    <div><span>Player 1</span> vs <span>Player 6</span></div>
    <div><span>Player 12</span> vs <span>Player 5</span></div>
    <div><span>Player 11</span> vs <span>Player 4</span></div>
    <div><span>Player 10</span> vs <span>Player 3</span></div>
    <div><span>Player 9</span> vs <span>Player 2</span></div>
    <div><span>Player 8</span> vs <span>Player 7</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 7</span></h3>
    <div><span>Player 1</span> vs <span>Player 12</span></div>
    <div><span>Player 11</span> vs <span>Player 6</span></div>
    <div><span>Player 10</span> vs <span>Player 5</span></div>
    <div><span>Player 9</span> vs <span>Player 4</span></div>
    <div><span>Player 8</span> vs <span>Player 3</span></div>
    <div><span>Player 7</span> vs <span>Player 2</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 8</span></h3>
    <div><span>Player 1</span> vs <span>Player 11</span></div>
    <div><span>Player 10</span> vs <span>Player 12</span></div>
    <div><span>Player 9</span> vs <span>Player 6</span></div>
    <div><span>Player 8</span> vs <span>Player 5</span></div>
    <div><span>Player 7</span> vs <span>Player 4</span></div>
    <div><span>Player 2</span> vs <span>Player 3</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 9</span></h3>
    <div><span>Player 1</span> vs <span>Player 10</span></div>
    <div><span>Player 9</span> vs <span>Player 11</span></div>
    <div><span>Player 8</span> vs <span>Player 12</span></div>
    <div><span>Player 7</span> vs <span>Player 6</span></div>
    <div><span>Player 2</span> vs <span>Player 5</span></div>
    <div><span>Player 3</span> vs <span>Player 4</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 10</span></h3>
    <div><span>Player 1</span> vs <span>Player 9</span></div>
    <div><span>Player 8</span> vs <span>Player 10</span></div>
    <div><span>Player 7</span> vs <span>Player 11</span></div>
    <div><span>Player 2</span> vs <span>Player 12</span></div>
    <div><span>Player 3</span> vs <span>Player 6</span></div>
    <div><span>Player 4</span> vs <span>Player 5</span></div>
</div>
<div class="col-md-4">
    <h3 class="bg-info"><span>Round 11</span></h3>
    <div><span>Player 1</span> vs <span>Player 8</span></div>
    <div><span>Player 7</span> vs <span>Player 9</span></div>
    <div><span>Player 2</span> vs <span>Player 10</span></div>
    <div><span>Player 3</span> vs <span>Player 11</span></div>
    <div><span>Player 4</span> vs <span>Player 12</span></div>
    <div><span>Player 5</span> vs <span>Player 6</span></div>
</div>