<!DOCTYPE html>
<html>
<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
   	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>

	<title>Competitors</title>
</head>
<body>
<header>
</header>

<main>
<div class="container col-md-7 text-center">
<h1>Battle Schedule</h1>
	<div class="col-md-5">
		<ul>Competitor 1</ul>
		<ul>Competitor 3</ul>
		<ul>Competitor 5</ul>
		<ul>Competitor 7</ul>
		<ul>Competitor 9</ul>
	</div>
		<div class="col-md-2">
		<ul>VS</ul>
		<ul>VS</ul>
		<ul>VS</ul>
		<ul>VS</ul>
		<ul>VS</ul>
	</div>
	<div class="col-md-5">
		<ul>Competitor 2</ul>
		<ul>Competitor 4</ul>
		<ul>Competitor 6</ul>
		<ul>Competitor 8</ul>
		<ul>Competitor 10</ul>
	</div>

</div>

</main>
</body>
</html>

