<!DOCTYPE html>
<html>
<head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
   	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>

	<title>Registration page</title>
</head>
<body>
<header>
</header>

<main class = "container-fluid container">
<h1>Registration Form</h1>
Please, fill in the form below.
<br>
<form>
<br>
<div class"container">
	<div>
	<fieldset>
  		<label for="name" >Name: </label>
 		<input type="text" name="FirstName" id="FirstName" value="" size="7" maxlength="15" placeholder="Name" required data-message-require="What is your first name?" />
 		<input type="text" name="LastName" id="LastName" value="" size="7" maxlength="15" placeholder="Surname" required="required" data-msg-required="What is your last name?"/>
 	</fieldset>
 	</div>
 	<br>
 	<div>
 	<fieldset>
  		<label for="UserName" >Username: </label>
 		<input type="text" name="UserName" id="UserName" value="" size="7" maxlength="15" placeholder="Username" required="required" data-message-require="Choose an username." />
 	</fieldset>
 	</div>
 	<br>
 		<div>
 	<fieldset>
  		<label for="Password" >Password: </label>

 		<input type="password" name="Password" id="password" value="" maxlength="15" placeholder="Password" required="required" data-message-require="Choose a password" />
 		<input type="password" name="ConfirmPassword" id="confirm_password" value="" maxlength="15" placeholder="Confirm Password" required="required" data-message-require="Choose a password" />
		 <script language="javascript">
 		var password = document.getElementById("password")
 		 , confirm_password = document.getElementById("confirm_password");

			function validatePassword(){
			  if(password.value != confirm_password.value) {
 			   confirm_password.setCustomValidity("Passwords Don't Match");
			  } else {
			    confirm_password.setCustomValidity('');
			  }
			}

			password.onchange = validatePassword;
			confirm_password.onkeyup = validatePassword;
 		</script>
 	</fieldset>
 	</div>
 	<br>
 	<div>
	<fieldset>
 		<label for="dob" >Birthday: </label>
 		<select id="month" name="birthmonth" required="required" data-msg-required="In what month were you born?">            
		<option value="" disabled="disabled" selected="selected">Month</option>            
		<option value="01">January</option>    
		<option value="02">February</option>   
		<option value="03">March</option>    
		<option value="04">April</option> 
		<option value="05">May</option>    
		<option value="06">June</option> 
		<option value="07">July</option>    
		<option value="08">August</option> 
		<option value="09">September</option>    
		<option value="10">October</option> 
		<option value="11">November</option>    
		<option value="12">December</option> 
		</select>
		<input type="number" name="BirthDay" id="BirthDay" size="2" min="01" max="31" maxlength="2" 
		oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
						if (this.value.length == this.maxLength && this.value > this.max) this.value = this.max;
					if (this.value.length == this.maxLength && this.value < this.min) this.value = this.min;" type = "number"
		placeholder="Day" required="required" data-message-require="In what day were you born?" />


		<input type="number" name="BirthYear" id="BirthYear" size="4" max="2010" min="1990" maxlength="4" oninput="
		javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);
					if (this.value.length == this.maxLength && this.value > this.max){ this.value = this.max;
							document.getElementById('yearmessage').innerHTML = 'The minimum age to participate is XYZ';}
					if (this.value.length == this.maxLength && this.value < this.min){ this.value = this.min;
							document.getElementById('yearmessage').innerHTML = 'The maximum age to participate is XYZ';}"
					placeholder="YYYY" required="required" data-message-require="In what year were you born?" />
		<span id="yearmessage"></span>
 	
	</fieldset>
	</div>
	<br>
 	<div>
 	<fieldset>
 	<label for="gender" >Gender: </label>
	<select id="gender" name="gender" required="required" data-msg-required="What is your gender?">            
	<option value="" disabled="disabled" selected="selected">Choose one</option>            
	<option value="01">Male</option>    
	<option value="02">Female</option>        
	</select>	
	</fieldset>
	</div>
	<br>
 	<div>
 	<fieldset>
 	 <label for="email">E-mail:</label>
     <input type="email" id="register-email" name="email" value="" placeholder="name@example.com">
     </fieldset>
  </div>
  <br>
  <div>
  <fieldset>
   	<label for="school">High School Name:</label>
    <input type="text" id="school" name="school" value="" placeholder="Your High School" data-msg-required="What is your High School?">
    </fieldset>
    </div>
	<br>
	  <div>
  <fieldset>
   	<label for="FutureSchool">What college do you want to go after high school:</label>
    <input type="text" id="FutureSchool" name="FutureSchool" value="" placeholder="Future School" data-msg-required="Where do you want to go after High School?">
    </fieldset>
    </div>
	<br>
	<div>
  <fieldset>
   	<label for="Award">If you receied any awards, please insert them here:</label>
    <input type="text" id="Award" name="Award" value="" placeholder="Awards" data-msg-required="">
    </fieldset>
    </div>
	<br>
	<div>
	<fieldset>
	 	<label for="PrevExp">Previous Computer Programming Experience: </label>
	 	<textarea name="PrevExp" id="experience" cols="25" rows="3"></textarea>
	</fieldset>
	<br>
	<input type="reset" value="Reset">
  <input type="submit" value="Submit" />
	  </div>
</form>
</div>
</main>
</body>
</html>

